apiVersion: apps/v1
kind: Deployment
metadata:
  name: hospital-service
  namespace: tgnpdcl
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hospital-service
  template:
    metadata:
      labels:
        app: hospital-service
    spec:
      containers:
      - name: hospital-service
        image: tgnpdcl-hospital-service:latest
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: database_url
